<h1>Patient Log In</h1>

<%= form_for :session, url: create_session_path(:pt => @pt) do |f| %>
	<div class="field">
		<%= f.label :phone_number %>
		<%= f.text_field :phone_number, class: 'form-control' %>

		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>

		<%= f.submit "Log In", class: "btn btn-primary" %>
	</div>

	<% end %>
