<h1>Physician Sign Up</h1>

<%= form_for @physician, :html => {:class => "form-horizontal" } do |f|%>
 
    <% if @physician.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@physician.errors.count, "error") %> prohibited your changes from being saved:</h2>

	      <ul>
	      <% @physician.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
  
  <p>
   email
    <%= f.text_field :email %>
  </p>
  <p>
    password
    <%= f.password_field :password %>
  </p>
  <p>
   password confirmation
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>

